.sidebar {
    flex     : 0 0 100%;
    max-width: 100%;
    padding  : 0 1rem;

    &__price {
        margin-top: 5rem;
    }

    &__price>input {

        width           : 100%;
        height          : 0.2rem;
        background-color: var(--primary-color);
        border          : 1px solid var(--primary-color);
    }

    &__price>span {
        font-size   : 1.6rem;
        display     : block;
        margin-top  : 2rem;
        padding-left: 1rem;
    }

    &__color {
        margin-top: 5rem;
    }

    &__size {
        margin-top: 5rem;
    }
}

.color {
    &__title {
        font-size: 1.8rem;
    }

    &__content {
        display        : flex;
        justify-content: space-around;
        margin-top     : 2rem;
    }

    &__content>div {
        border-radius: 50%;
        width        : 30px;
        height       : 30px;
        border-radius: 50%;
        cursor       : pointer;


        &:first-child {
            background-color: black;
        }

        &:nth-child(2) {
            background-color: rgb(69, 137, 214);
        }

        &:nth-child(3) {
            background-color: rgb(181, 181, 181);
        }

        &:nth-child(4) {
            background-color: rgb(247, 102, 194);
        }

        &:nth-child(5) {
            background-color: rgb(245, 245, 245);
            border          : 1px solid rgb(202, 201, 201);
        }
    }
}

.size {
    &__title {
        font-size    : 1.8rem;
        margin-bottom: 2rem;
    }

    &__content {
        display: flex;

        &>div {
            height         : 30px;
            width          : 30px;
            margin-left    : 2rem;
            margin-top     : 1rem;
            display        : flex;
            justify-content: center;
            align-items    : center;
            border-radius  : 10px;
            cursor         : pointer;

            &:first-child {
                background-color: rgb(171, 171, 171);
            }

            &:nth-child(2) {
                background-color: rgb(204, 204, 204);
            }

            &:nth-child(3) {
                background-color: rgb(235, 235, 235);
            }
        }
    }
}

.category {

    &__title {
        font-size    : 1.8rem;
        margin-bottom: 2rem;
    }

    &__content {
        display              : grid;
        grid-template-columns: 1fr 1fr;
        row-gap              : 1rem;

        &>div {
            display    : flex;
            align-items: center;
        }

        &>div>span {
            font-size: 1.6rem;
        }

        input[type="radio"] {
            cursor      : pointer;
            height      : 2.5rem;
            margin-right: 1rem;

        }
    }
}