.banner {
    position             : relative;
    display              : grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows   : 10rem;
    margin-top           : 10rem;

    &__twitter {
        position         : relative;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        background-repeat: no-repeat;
        background-size  : cover;
        background-image : url('../../../../../public/img/banner_bottom/footer-share-twitter.jpg');


    }

    &__facebook {
        position         : relative;
        display          : flex;
        align-items      : center;
        justify-content  : center;
        background-repeat: no-repeat;
        background-size  : cover;
        background-image : url('../../../../../public/img/banner_bottom/footer-share-facebook.jpg');
    }

    &__pinterest {
        position: relative;

        display          : flex;
        align-items      : center;
        justify-content  : center;
        background-repeat: no-repeat;
        background-size  : cover;
        background-image : url('../../../../../public/img/banner_bottom/footer-share-pinterest.jpg');
    }

    &__content {
        position       : absolute;
        width          : 100%;
        height         : 100%;
        cursor         : pointer;
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    &__innercontent {
        position   : absolute;
        z-index    : 1;
        font-size  : 2rem;
        font-weight: 500;
        color      : var(--white-color);
    }

    &__innercontent>span {
        margin-left: 1rem;
        font-size  : 1.8rem;
    }


}

.twitter__overlay {

    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: rgba(85, 172, 238, .8);

}

.facebook__overlay {

    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: rgba(59, 89, 152, .8);

}

.pinterest__overlay {

    position        : absolute;
    width           : 100%;
    height          : 100%;
    background-color: rgba(203, 32, 39, .8);

}

@media (max-width:700px) {
    .banner {
        &__innercontent>span {
            font-size: 1.6rem;
        }
    }

}

@media (max-width:400px) {
    .banner {
        &__innercontent>span {
            font-size: 1.1rem;
        }
    }
}